.todo-lists li a {
  display: block;
  padding: 0.4em 1em 0.4em 0em;
  .label {
    background-color: $orange;
  }
}

.blank-slate {
  color: $blue;
  text-align: center;

  p {
    margin: 30px 0;
  }
}